<img class="wave" src="/assets/img/wave.png" />
<div class="container">
  <div class="img">
    <img src="/assets/img/bg.svg" />
  </div>
  <div class="login-content">
    <form>
      <img src="/assets/img/avatar.svg" />
      <h2 class="title">Welcome</h2>
      <div class="input-div one">
        <div class="i">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >face</mat-icon
          >
        </div>
        <div class="div">
          <input
            name="email"
            placeholder="xyz@domain.com"
            type="text"
            class="input"
            [(ngModel)]="user.email"
          />
        </div>
      </div>
      <div class="input-div one">
        <div class="i">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >face</mat-icon
          >
        </div>
        <div class="div">
          <input
            name="userName"
            placeholder="User Name"
            type="text"
            class="input"
            [(ngModel)]="user.userName"
          />
        </div>
      </div>

      <div class="input-div pass">
        <div class="i">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >vpn_key</mat-icon
          >
        </div>
        <div class="div">
          <input
            name="password"
            placeholder="Password"
            type="password"
            class="input"
            [(ngModel)]="user.password"
          />
        </div>
      </div>
      <a [routerLink]="['/login']">Back to Login</a>
      <button type="submit" class="btn btn-success" (click)="registerNow()">
        Register
      </button>
    </form>
  </div>
</div>
